<p>
  <%= simple_form_for @artwork do |f| %>

    <%= f.input :image %>
    <div class="form-group">
    <%= f.input :title, input_html: {class: "form-control"} %>
    </div>
    <%= f.input :link %>
    <div class="form-group">
    <%= f.input :content, input_html: {class: "form-control"} %>
    </div>

    <%= f.button :submit, class: "btn btn-primary" %>

<% end %>




</p>