
<!--<% if artist_signed_in? %>-->
    <!--<h2 id="intro">-->
      <!--Hello-->
      <!--<%= current_artist.fname%>-->
      <!--<br/>-->
    <!--<span>-->
      <!--<h3>-->
      <!--Share your artworks with the world!-->
      <!--</h3>-->
    <!--</span>-->

    <!--</h2>-->
        <!--<% else %>-->
    <!--<h3 id="intro">-->
      <!--Got any artwork?-->
      <!--<br/>-->
    <!--<span>-->
      <!--<h3>-->
      <!--Share your artwork with the world!-->
      <!--</h3>-->
    <!--</span>-->
    <!--</h3>-->

<!--<% end %>-->



<% if @artworks.blank? %>
<h1>No artworks posted yet. Click <a href="/artworks/new">HERE</a> to post your artwork</h1>
<% else %>

<div id="artworks">
  <% @artworks.each do |artwork| %>
  <div>
  <div class="artwork">
    <div class="artwork_image">
      <%= link_to (image_tag(artwork.image.url(:small))), artwork%>
    </div>
    <div class="artwork_content">
      <div class="title">
        <h2><strong>
          <%= link_to artwork.title, artwork %>
        </strong></h2>
      </div>
      <div class="data clearfix">
        <p>
          Shared by
          <%= artwork.artist.fname %>
        </p>
        <p class="buttons">
           <span>
             <i class="fa fa-thumbs-up" >
                <%= artwork.get_likes.size  %>
               <%= link_to "Like", like_artwork_path(artwork), method: :get, class: 'btn-primary' %>
             </i>
           </span>
          <span>
               <i class="fa fa-comments" >
                 <%= artwork.comments.count %>
                 <%= link_to "Comment", artwork, class: 'btn-primary' %>
               </i>
          </span>
        </p>
      </div>

      </div>
    </div>
    </div>



  <% end %>
</div>


<% end %>



<%#<%= link_to 'Add New Artwork', new_artwork_path %>