<%= image_tag @artwork.image.url(:medium) %>
<h1><%= @artwork.title %></h1>
<p><%= @artwork.link %></p>
<p><%= @artwork.content %></p>
<p><strong>Submitted by
  <%= @artwork.artist.fname %></strong></p>
<p><%= @artwork.get_upvotes.size %>
  Likes
</p>

<p><%= @artwork.get_downvotes.size %>
  Dislikes
</p>


<%= link_to 'Like', like_artwork_path(@artwork), method: :get %>
<%= link_to 'Dislike', dislike_artwork_path(@artwork), method: :get %>

<div id="comment">
  <div class="comment_count"><h2><%= pluralize(@artwork.comments.count, "comment")%></h2></div>

  <% @comments.each do |comment| %>
  <div class="comment">
   <div class="username"> <h3><strong><%= comment.artist.fname %></strong></h3></div>
    <div class="content"><p><%= comment.content %></p></div>
  </div>
      <% end %>
</div>

<%= render 'comments/form'%>

<% if current_artist!=@artwork.artist %>
<h4></h4>
<% else %>
<%= link_to 'Edit', edit_artwork_path(@artwork) %>
    <%= link_to 'Delete',artwork_path(@artwork), method: :delete,
                data: {confirm: 'Are you sure?'}%>
<% end %>

